<!-- app/templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Machine Learning</title>
</head>
<body>
    <h1>Machine Learning </h1>
    <form method="post" action="/">
        <!-- Adicione campos do formulário para selecionar classificador, ajustar parâmetros, etc. -->
        <button type="submit">Executar Treinamento e Teste</button>
    </form>
    {% if accuracy %}
        <p>Desempenho do Modelo: {{ accuracy }}</p>
    {% endif %}
</body>
</html>
